body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;

}
.App .Header{
  background-color: rgb(0, 0, 0);
  width: 50rem;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: monospace;

}.App .input{
  width:100%;
  background-color: rgb(0, 0, 0);
  height: 7rem;
  margin-top: 2rem;
  margin-right: 3rem;

}.input input {
  padding-left: 2rem; 
  height: 40px;
  width: 60%; 
  border-radius: 20px;
  border-width: 2px;
  border-top-left-radius: 0%;
  margin-left: 8.5rem;
  background-color: black;
  border-color: rgb(255, 255, 255);
  color: white;
  font-family:monospace;

}.input i:nth-of-type(1) {
  position: absolute;
  left: calc(50% - 15.5rem);
  font-size: 19px;
  color: #666;
  margin-left: 34rem;
  margin-top: 13px;
  color: rgb(39, 190, 39);
 
}.input i:nth-of-type(2) {
  position: absolute;
  top: 22.8rem;
  font-size: 19px;
  left: 51rem;
  color: #666;
  margin-left: 19rem;
  margin-top: 9px;
  color: rgb(39, 190, 39);
 
}
.Display {
  width: 40rem;
  background-color: black;
  height: 10rem;
  margin-left: 9rem;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 2rem;
  


}.Display2{
  width: 40rem;
  background-color: black;
  height: 10rem;
  margin-left: 4rem;
  position: relative;
  font-family: monospace;
}

.Display input[type="checkbox"] {
  position: absolute;
  margin-top: 1rem;
  right: 5rem;
  width: 50%;
  height: 1rem;
  padding-left: 1rem;
  padding-right: 3rem; 
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: monospace;
  border-width: 2px;
  border-color: rgb(3, 3, 3);
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-radius: 2px;
  

}
.Display .fa-trash {
  position: absolute;
  right: 18rem; 
  top: 1rem;
  font-size: 17px;
  color: red;
}.Display2 p{
  position: absolute;
  left: 1rem;
  color: white;
  top: 2px;
}.Accomplished p{
  margin-left: 15.5rem;
  color: white;
  font-family: monospace;
  font-size: 30pxrem;
}.Accomplished p i{
  color: rgb(39, 190, 39);
}